.navbar {
    padding: 1rem;
    font-size: 24px;
}


body {
    background-color: #4F7CAC;
    text-align: center;
}

#home-page-introduction {
    margin: 0 2rem;
    padding: 3rem;
}

#home-page-introduction div {
    margin: 1rem;
    padding: 1rem;
}

.display-1 {
    font-weight: 400;
}

.nav-link {
    color: #c7ebf0;
}


.bg-body-tertiary {
    background-color: #4F7CAC !important;
}

h1 {
    margin: 1rem;
    padding: 1rem;
}

h3 {
    margin: 0.5rem;
    padding: 1rem;
}

p {
    margin: 0.5rem;
}

.main-text {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 6rem;
}

.btn {
    display: block;
    align-items: center;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #c7ebf0;
    border: none;
    cursor: pointer;
}

.material-symbols-sharp {

    padding: 10px 20px;
}

#contact-links { 
    margin: 3rem 3rem;
}

div p { 
    margin: 1rem 0;
}